.spinner {
    visibility:hidden;
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    display: block;
    margin: auto;
    position: relative;
    left: -30px;
    color: rgb(255, 255, 255);
    transform: translateY(30px);
    box-sizing: border-box;
    animation: animloader 2s ease infinite;
  }
  .spinner::after,
  .spinner::before {
    content: '';  
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 30px;
    top: 0;
    animation: animloader 2s 0.2s ease infinite;
  }
  .spinner::before {
    animation-delay: 0.4s;
    left: 60px;
  }
  
  @keyframes animloader {
    0% {
      top: 0;
      color: rgb(255, 255, 255);
    }
    50% {
      top: 30px;
      color: rgba(255, 255, 255, 0.2);
    }
    100% {
      top: 0;
      color: rgb(255, 255, 255);
    }
  }
      
  .alert {
    visibility: none;
    margin-top: 70px;
    padding: 20px;
    background-color: #36c5f4;
    color: white;
    z-index: 1000;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    /* float: right; */
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .right_menu{
    position: absolute;
    right: 20px;
    width: 300px;
    padding: 20px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .right_menu:hover {
    color: black;
  }

body {padding: 0px;
    margin:0px;
    color: #fff;
    background-color:rgb(0, 0, 0);} 

.header_bg {
  /* The image used */
  background-image: url('images/header.jpg');

  /* Full height */
  height: 1000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Create a Parallax Effect */
.bgimg-1{
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}      

/* First image (Logo. Full height) */
.bgimg-1 {
/* background-image: url('images/background_color.jpg'); */
background: black;
min-height: 500px;
opacity: 100%;
}

.digitaltwin{
position: relative; 
color: #000000;
opacity: 100%;

}

.digitaltwinZone{
overflow: hidden;
position: relative;
}

.digitaltwinback {    
opacity: 0.2;
position: absolute;
left: 0;
top: 0;
}

.digitaltwinpoem{    
border-radius: 16px;
padding: 32px;
background-color: #fff;
width: 600px;
display: block;
margin-left: auto;
margin-right: auto;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

button {
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
}

.photogrid1 {
  float:left;
  padding: 16px;
  width: 230px;
}

.events{
  float:left;
  padding: 32px;
  width: 25%;
}

.date {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  color: rgb(159, 159, 159);
  }

.press_title {
  font-family: inherit;
  line-height: 1.45;
  font-weight: bold;
  font-size: 16px;
  color: #1f1f1f;
  -webkit-text-size-adjust: none;
  }


.loader {
  align-items: center;
  width: 400px;
  color: #fff;
  left: 50%;  
  display:none;
}

/* colours */
:root {
  --gray: #727272;
  --white: #ffffff; 
  --black: #000000; 
}

 /* Basic Button Style */
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: black;
  border: 2px solid var(--white);
  border-radius: 0.6em;
  /* color: red; */
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: auto;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  /* text-transform: uppercase; */
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 700;
}

.btn:hover

.btn:focus {
  color: var(--white);
  outline: 0;
}

/* BUTTON for generate poems */
.btn1 {
  color: var(--white);
  transition: all 150ms ease-in-out; 
}
.btn1:hover {
  box-shadow: 0 0 10px 0 var(--gray) inset, 0 0 10px 4px var(--gray);
}

.btn_poems {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 0.6em;
  /* color: red; */
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: auto;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  /* text-transform: uppercase; */
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 700;
}

.btn_poems:hover

.btn_poems:focus {
  color: var(--white);
  outline: 0;
}

/* BUTTON for Poems */
.btn2 {
  color: var(--white);
  transition: all 150ms ease-in-out;
}
.btn2:hover {
  box-shadow: 0 0 10px 0 var(--white) inset, 0 0 10px 4px var(--white);
}

.eventgrid {
  float:left;
  padding: 32px;
  width: 285px;
  margin-bottom: 150px;
}

.nfts{
  border: none;
  padding-top: 20px;
}

.nftsborder{
  border-width: 1px; 
  border-style: solid; 
  border-color: #fff; 
}

@font-face {
  font-family: Montserrat;
  src: url('font/Montserrat-VariableFont_wght.ttf');
}
.secTitle{
  font-size: 100px;
  color:rgb(127,255,212);
  cursor: pointer;
  transition: 0.3s;
  padding: 64px;
  margin-top: 300px;
  font-family: Montserrat;
  
}

@media all and (max-width: 1100px) {  .eventsContent p  { font-size:0.6em;  } }
@media all and (min-width: 1100px) {  .eventsContent p  { font-size:0.6em;  } }
@media all and (min-width: 1200px) {  .eventsContent p  { font-size:0.8em;  } }
@media all and (min-width: 1300px) {  .eventsContent p  { font-size:0.8em;  } }
@media all and (min-width: 1400px) {  .eventsContent p  { font-size:0.8em;  } }
@media all and (min-width: 1500px) {  .eventsContent p  { font-size:0.8em;  } }



.project_maquet{ background:#000000; }
.project_maquet img{
  max-width:100%;
  height:auto;
}

.pagesnumber{
  font-size: 150px;
  color:rgb(201,88,99);
  cursor: pointer;
  transition: 0.3s;
  @font-face {
    font-family: Montserrat;
    src: url('font/Montserrat-VariableFont_wght.ttf');
  }
}

.project_maquet:hover .pagesnumber{
  color: rgb(100, 167, 155);
}


.visible_img{
  position: absolute; visibility: visible; z-index: 2; 
}
.hidden_img{
  position: absolute; visibility: hidden; z-index: 1;
}
.project_maquet:hover .visible_img{
  box-sizing:border-box;
  visibility: hidden;
}
.project_maquet:hover .hidden_img{
  box-sizing:border-box;
  visibility: visible;
}

.p_project{
  position: relative;
  margin-top: 150px;
  padding-left: 16px;
  z-index: 3
}

.eventsContent{
  border-top: 1px solid rgb(165, 165, 165);
}

.eventsLogo{
  width: 100%;
  padding: 16px;
}


/* icons */
.socialMediaLinks a {
  font-size: 50px;
  margin: 0 40px 0 0;
  color: #000000;
  text-decoration: none;
  
}
.socialMediaLinks a.fa-twitter:hover { 
  color: #00aced; 
}
.socialMediaLinks a.fa-facebook-official:hover { 
  color: #3b5998; 
}
.socialMediaLinks a.fa-instagram:hover { 
  color: #C13584; 
}
.socialMediaLinks a.fa-youtube:hover { 
  color: #FF0000; 
}
.socialMediaLinks a.fa-github:hover { 
  color: #6e5494; 
}

.screen-body {
  display: flex;
  width: 100%;
  height: 500px;
  border:none;
}


/* end icons */
.headerLogo{
  width:15% ;
  height:auto;
}

@media screen and (max-width: 600px) {
  .headerLogo {
    width:30%;
    /* float:none; */
  }

  .right_menu{
    position: absolute;
    right: 10px;
    padding: 0px;
    font-size: 20px;
  }
 
  .digitaltwinpoem{
    width:100%;
    float:none;
  }
  .photogrid1 {
    width:100%;
    float:none;
  }

  .eventgrid {
    width:100%;
    float:none;
  }

  .nfts{
    width:100%;
    float:none;
  }
  .nftsimage{
    width: 360px;
  }

  .nftsborder{
    border: none;
  }
  
  .events{
    width:100%;
    float:none;
  }


  .secTitle{
    font-size:50px;
  }

  .header_bg{
    background-attachment: scroll;
  }
 
}

.inner {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

/* Hide scrollbar for Chrome, Safari and Opera */
.inner::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.inner {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


