
.header-container {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.right_menu {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.w3-sidebar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.video-container {
    height: 100vh; /* Fallback for browsers that do not support the var() function */
    height: calc(var(--vh, 1vh) * 100);
}

.btn, .btn_poems {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.project_maquet:hover .visible_img {
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}
.project_maquet:hover .hidden_img {
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}
